@import "tailwindcss";

@theme {
  /* Fonts */
  --font-display: var(--font-space-grotesk);
  --font-body: var(--font-inter);

  /* Modern Industrial Palette */
  --color-primary-blue: #12aafc;
  --color-industrial-orange: #fc9412;
  --color-cyan-air: #01d1f7;

  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  /* Standard Defaults */
  --radius: 0.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Base Styles */
@layer base {
  body {
    background-color: white;
    color: var(--color-slate-900);
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    font-weight: 700;
    color: var(--color-slate-900);
  }
}